.user_name {
  font-size: 10px;
  color: #afafaf;
}
.message {
  padding: 10px 10px 2px 10px !important;
  transition: all 250ms ease-in-out !important;
  border-radius: 10px !important;
  margin: 2px 2px 2px 10px;
}
.my_message {
  background: white !important;
  color: #AF7AC5 !important;
}
.other_message {
  background: #AF7AC5 !important;
  color: #F5EEF8 !important;
}
.time {
  color: #afafaf;
  font-size: 10px;
}
.message_row {
  background-color: #fff;
}
.my-button{
  width: 80px;
  height: 50px;
  margin-right: 10px;
  background-color: #AF7AC5;
  color: #F5EEF8;
  border: none;
  border-radius: 1px !important;
}
.my-input{
  height: 60px;
  width: 500px;
  border: none;
  margin-left: 2px;
  outline: none;
}
.my-container{
  width: 54%;
  border: 1px solid #AF7AC5;
  height: 600px;
  border-radius: 10px;
  margin-left: 10px;
  background-color: #F5EEF8;
}
.bottom-div{
  margin-top: 0px;
  position: fixed;
  bottom: 80px;
}
hr{
  margin: 0px;
  padding: 0px;
}
p{
  font-size: 10px;
}
.shiftMe{
  text-align: center;
  margin-left: 10px;
}
.bgColor{
}
