<div >
    <nav>
        CHAT
    </nav>
</div>
<div class="row" *ngFor="let message of messages">
    {{message}}
    <div class="col-xs-18 col-sm-12" *ngIf="message.from !== nickname" class="message" [ngClass]="{'my_message': message.from === nickname, 'other_message': message.from !== nickname}">
        <span class="user_name">{{ message.from }}:</span><br>
        <span>{{message.text}}</span>
        <div class="time">{{message.created | date:'dd.MM hh:MM'}}</div>
    </div>
</div>
<input type="text" placeholder="Message" [(ngModel)]="message">
<button ion-button clear color="primary" (click)="sendMessage()" [disabled]="message === ''">
       Send
</button>
