<!-- <div class="myContainer">
  <div class="subContainer">
    <div class="myNav">
      <h3>Chat Room</h3>
    </div>
    <br>
    <div class="body-div">
      <div>
        <label>Set Nickname</label><br>
        <input class="my-text" type="text" placeholder="Nickname" [(ngModel)]="nickname">
      </div>
      <br><br>
      <button class="my-button" (click)="joinChat()" [disabled]="nickname === ''">Join Chat as {{ nickname }}</button>
    </div>
  </div>
</div> -->

<div class="container">
	<div class="login-container">
            <div id="output"></div>
            <div class="avatar"></div>
            <div class="form-box">
                <form action="" method="">
                    <input name="user" type="text" placeholder="username">
                    <input type="password" placeholder="password">
                    <button class="btn btn-info btn-block login" type="submit">Login</button>
                </form>
            </div>
        </div>

</div>
