.myNav{
  margin-left: 25%;
  width: 40%;
  background-color: #F5EEF8;
  color: #AF7AC5;
}
.myContainer{
  text-align: center;
  width: 100%;
  margin-left: 25%;
}
.body-div{
  width: 40%;
  margin-left: 25%;
}
.subContainer{
  width: 40%;
  border: 2px solid #AF7AC5;
  text-align: center;
  padding: 50px;
}
label{
  color: #AF7AC5;
}
.my-button{
  background-color: #AF7AC5;
  color: #F5EEF8;
  border-radius: 3px;
  border: none;
}
.my-text{
  color: #AF7AC5;
}
